# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
db.sqlite3
*.sqlite3

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
test-results/

# Editors
.idea/
.vscode/
*.swp
*.swo
